@font-face {
  font-family: 'seti';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/seti.woff') format('woff');
  display: swap;
}

@font-face {
  font-family: 'monomaniac';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/monomaniac-one-regular.woff2') format('woff2');
  display: swap;
}
