.root {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  padding: 0 0.5rem 0.5rem;
  height: calc(100% - 27px);
  width: 100%;
  margin-right: 1rem;
  > div {
    display: none;
    &:last-child {
      display: block;
    }
  }
  div[class*='xterm-rows'] {
    font-size: 17px;
  }

  .tab {
    display: inline-flex;
    color: rgb(130, 129, 129);
    margin-left: 1rem;
    border-bottom: 1px solid rgb(76, 76, 76);
  }
  .item {
    display: block;
    margin: 0.2rem 0;
    .text {
      white-space: break-spaces;
      &.hasArray {
        display: block;
      }
    }
  }
  .type {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    &__info {
      color: #2196f3;
    }
    &__warning {
      color: #ffc107;
    }
    &__success {
      color: #4caf50;
    }
    &__error {
      color: #f44336;
    }
  }

  .timestamp {
    color: #666;
    display: inline-block;
    margin-left: 0.5rem;
  }
  [class*='xterm-cursor-outline'] {
    outline-color: var(--text-color) !important;
  }
  [class*='xterm-cursor-bar'] {
    box-shadow: 1px 0 0 var(--text-color) inset !important;
  }
}

.popoverRoot {
  position: absolute;
  z-index: 9999;
}
.logPopover {
  [class*='ant-popover-inner'] {
    padding: 0;
  }

  .exitCodeHeading {
    font-size: 1.3rem;
    font-weight: 600;
    opacity: 0.8;
  }
  .content {
    padding: 1rem;
    pointer-events: auto;
    width: 400px;
    max-width: 100%;
  }
  .readMore {
    text-decoration: underline;
  }
}
