:root {
  --primary: #0098ea;
  --font-title: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;
  --text-color: #f7f7f7;
  --bg-color: #000;
  --color-light: #ccc;
  --black-500: #0e0e10;
  --color-danger: #c84075;
  --color-warning: #d19228;
  --border-radius: 5px;
  --btn-primary: #0098ea;
  --btn-primary-hover: #00a6ff;
  --btn-disabled: rgba(255, 255, 255, 0.1);
  --menu-bg: rgba(0, 0, 0, 0.7);
  --sidebar-bg: #141416;
  --splitter-bg: #141416;
  --grey--10: rgba(46, 46, 51, 0.1);
  --grey--50: rgba(46, 46, 51, 0.5);
  --grey--70: rgba(46, 46, 51, 0.7);

  --dark-800: #181717;
  --dark-hover: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  --grey-900: #232328;
  --modal-bg: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    #232328;
}

/* Light theme styles */
[data-theme='light'] {
  --text-color: #000;
  --bg-color: #f7f7f7;
  --black-500: #dcdada;
  --btn-disabled: rgba(0, 0, 0, 0.1);
  --menu-bg: rgba(255, 255, 255, 0.6);
  --sidebar-bg: #e8e8e8;
  --color-light: #454444;
  --splitter-bg: #bbbbbb;
  --grey--10: rgba(208, 208, 225, 0.1);
  --grey--50: #e8e8e8;
  --grey--70: #dcdada;
  --dark-800: #eaeaea;
  --grey-900: #f2f2f2;
  --dark-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  --modal-bg: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    #eaeaea;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: var(--font-body);
  letter-spacing: 0.02em;
  color: var(--text-color);
  background: var(--bg-color);
  line-height: 1.4;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
    [data-theme='light'] & {
      background-color: #f7f7f7;
    }
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #696969;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #696969;
  }
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary);
  }
}

.ant-form-item-optional {
  display: none !important;
}

.w-100 {
  width: 100%;
}

.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.xterm-viewport {
  background: transparent !important;
}

.xterm .xterm-viewport {
  overflow-y: auto;
}

.xterm-rows {
  color: #2196f3 !important;
}
.item-center-align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

button,
body .ant-btn.button {
  font-weight: 500 !important;
}

hr {
  width: 100%;
  height: 1px;
  background: rgb(61, 61, 61);
  border: 0;
}

.color-warn {
  color: var(--color-warning);
}
