.root {
  padding: 1rem 0px;
  position: relative;
  &:before,
  &.tact .form:not(:last-child)::before {
    content: '';
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    right: 0;
    width: 5rem;
    height: 1px;
    margin: 0 auto;
    background-color: #373636;
    [data-theme='light'] & {
      background-color: #e0e0e0;
    }
  }
  &.tact {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    .form {
      position: relative;
      margin: 0;
    }
    &::before {
      display: none;
    }
  }
  .nestedForm {
    margin: 0.5rem 0;
    background: rgba(14, 14, 16, 0.9);
    border-radius: 5px;
    padding: 5px;
    [data-theme='light'] & {
      background: rgba(255, 255, 255, 0.9);
    }

    > div {
      border-left: 0 !important;
    }
  }
  .abiHeading {
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgba(186, 74, 255, 1);
  }
  .abiResponse {
    word-break: break-word;
  }
  .btnAction {
    font-size: 0.8rem;
    padding: 0;
    width: 100%;
    & [class*='wave-motion'] {
      display: none !important;
    }
  }
  .abiResponse {
    font-weight: 500;
    color: #a0e67d;
    margin-top: 0.5rem;
    padding: 5px;
  }
  &.Getter {
    .btnAction {
      border: 0;
      box-shadow: none;
      background: #232222;
      [data-theme='light'] & {
        background: #d6d6d6;
      }
      &:hover {
        color: var(--text-color);
        background-color: var(--grey--50);
      }
    }
  }
  &.Setter {
    .btnAction {
      border: solid 1px transparent;
      background: var(--primary);
      box-shadow: none;
      z-index: 0;

      &:hover {
        border-color: transparent;
        color: var(--text-color);

        &:before {
          background: #101010;
          [data-theme='light'] & {
            background: var(--btn-primary-hover);
          }
        }
      }
      & span,
      &:hover span [data-theme='light'] & {
        color: #fff;
      }
      &:disabled {
        opacity: 0.5;
        color: var(--text-color);
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: #000;
        z-index: -1;
        border-radius: inherit;
        [data-theme='light'] & {
          background: var(--primary);
        }
      }
    }
  }
}

.structName {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--primary);
  padding: 5px;
}

.formItemABI {
  margin-bottom: 3px;
}

.notes {
  margin: 0.5rem 0;
}

.fieldList {
  margin: 0.8rem 0;
  .dictItem {
    border: 1px solid var(--grey--50);
    margin: 0.5rem 0.1rem;
    border-radius: 6px;
    background: var(--grey--10);
    padding: 0.4rem;
    border-style: dashed;
  }
  .addMoreField {
    border-color: var(--grey--50);
    width: 100%;
    box-shadow: none;
    background: var(--grey--10);
    color: var(--light-grey);
  }
  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
}
