name: Pull request

on:
  pull_request:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install
        run: |
          npm ci

      - name: Build
        run: |
          npm run build

      - name: Check formatting
        run: |
          npm run format:check

      - name: Run Next lint
        run: |
          npm run lint
